.App-header {
    background-color: #282c34;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Header-logo {
    height: 90px;
    float: left;
    pointer-events: none;
  }


.Header-link {
    color: #61dafb;
    width: -webkit-fill-available;
    margin-top: 20px;
    font-size: calc(10px + 2vmin);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Header-logo {
      animation: Header-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes Header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    